<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bootstrap web</title>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="node_modules/bootstrap-icons/font/bootstrap-icons.css"/>
  </head>
  <body>

    <div class="container-fluid">
        <div class="row align-items-center text-center p-0 m-0">
            <div class="col-xl-3 d-none d-xl-block d-xxl-block"></div>

            <div class="col-sm-3 col-xl-2">
                <button type="button" class="btn btn-light">
                    Support
                </button>
            </div>

            <div class="col-sm-3 col-xl-1"></div>

            <div class="col-sm-3 col-xl-1">
                <h6>
                    x amount of spots left
                </h6>
            </div>

            <div class="col-sm-3 col-xl-2">
                <button type="button" class="btn btn-light">
                    Going
                </button>
            </div>

            <div class="col-xl-3 d-none d-xl-block d-xxl-block"></div>
        </div>
    </div>
    
</body>
</html>